* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}
body {
    background: url(/images/bg.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 800px;
    height: 1000px;
    text-align: left;
}

#header_container {
    width: 100%;
}

#logo {
    width: 45%;
    height: 100px;
    float:left;
}

#header_controls {
    width: 45%;
    height: auto;
    float: right;
}

#header_controls div.buttonize {
    margin-top: 10px;
    background-color: #446898;
    width: 46px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 8px;
    text-align:center;
}

.right {
    float: right;
}

.left {
    float: left;
}

#header_controls div.buttonize a {
    text-decoration:none;
    font-size: 12px;
}

#header_rule {
    width: 100%;
    margin: 20px 0 20px 0;
}

.shadow {
    -moz-box-shadow: 1px 1px 3px 1px #2C475F;
    -webkit-box-shadow: 1px 1px 2px 1px #2C475F;
    box-shadow: 1px 1px 2px 1px #2C475F;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#2C475F')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#2C475F');
}

.dark-border {
    border: 1px solid #476F93;
}

p.notice, p.alert {
    display: block;
    width: 785px;
    height: 22px;
    background-color: #FAFFBD;
    padding: 7px;
    font-size: 18px;
}

p.alert{
    color: red;
}

p.notice {
    color: #222711;
}

.round {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.slightly-round {
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bottom-margin {
    margin-bottom: 9px;
}

.see-through{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
    opacity: 0;
}

.buttonize {
    -moz-border-radius: 2px;
    border-radius: 3px;
    padding: 10px;
    background-color: #324C64;
}

span.labelize {
    padding: 3px 5px 3px 5px;
    background-color: #335771;
}

span.dark-blue {
    background-color: #213758;
}

.small {
    width: 40px;
}

.medium {
    width: 80px;
}

.large {
    width: 140px;
}

.text-light-blue {
    color: #BADDFC;
}

.text-light-yellow {
    color: #FFFED8;
}

.text-small {
    font-size: 12px;
}

.add-10px-top-margin {
    margin-top: 10px;
}

.add-10px-bottom-margin {
    margin-bottom: 10px;
}

.add-line-height {
    line-height: 150%;
}

h2, h3 {
    font-weight: 400;
}

h3 {
    font-size: 18px;
}

h2 {
    font-size: 24px;
}

div.vertical-navigation {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

div.vertical-navigation .button-wrap-rule {
    width: 100%;
    height: 2px;
    margin: 0;
    padding: 0;
    display: block;
}

div.vertical-navigation a {
    text-decoration: none;
    margin: 0 0 0 5px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    line-height: 225%;
}
div.vertical-navigation div.navlet {
    position: relative;
    height: 30px;
    width: 100%;
    background-image: url('/images/navlet-bg.png');
    background-position: 0px 0px;
}
div.vertical-navigation div.navlet:hover {
    background-position: 0px 30px;
}

.navlet img {
    position: absolute;
    right: 10px;
    top: 5px;
}
/****************************************
Forms
*****************************************/
input[type=text] {
    font-size: 20px;
    width: 250px;
}

input[type=password] {
    font-size: 20px;
    width: 250px;
}

input {
    color: #222711;
    background-color: white;
    margin: 5px 0 10px 0;
    -moz-border-radius: 2px;
    border-radius: 3px;
    border-style:none;
    padding: 5px;
}

input[type=submit] {
    background-color: #9CC74C;
    font-size:18px;
    color: #222711;
    margin-left: 189px;
}

input[type=submit]#profile_submit {
    background-color: #9CC74C;
    font-size:18px;
    color: #222711;
    margin-left: 131px;
}


label {
}

textarea {
    -moz-border-radius: 2px;
    border-radius: 3px;
    height: 120px;
    width: 256px;
    color: #222711;
    font-size: 16px;
}
/****************************************
End Forms
*****************************************/

/****************************************
Account related styles
*****************************************/
#box_1 {
    background-color: #39799f;
    width: 300px;
    height: 300px;
    padding:10px 10px 10px 49px;
    float:left;
    margin-bottom: 20px;
}
#box_1 h2 {
    color:#bee795;
    font-size: 30px;
}
#box_2 {
    background-color: #39799f;
    width: 300px;
    height: 300px;
    padding:10px 10px 10px 49px;
    float:right;
}
#box_3 {
    background-color: #39799f;
    width: 300px;
    height: auto;
    padding:10px 10px 10px 49px;
    float:left;
}
#box_2 h2 {
    color:#bee795;
    font-size: 30px;
}
#box_container {
    clear:left;
    width: 800px;
    height: 800px;
}

#box_1.taller, #box_2.taller {
    height: 500px;
}

#box_container h2 {
    color: #B6CC6B;
    margin-bottom: 20px;
    clear:left;
}

#selected_avatar {
    height: 17px;
    display: none;
    font-size: 10px;
    font-style: italic;
    color: #222711;
}

img.avatar {
    border: 5px solid white;
}

#profile_container {
    width: 100%;
}

#profile_left {
    width: 275px;
    float: left;
}

#profile_center {
    width: 300px;
    float: left;
}

#profile_center p {
    margin-bottom: 10px;
    line-height: 150%;
    font-size: 12px;
}

#profile_right {
    width: 200px;
    float:right;
}

img.rule {
    margin: 20px 0 10px;
    width: 300px;
    height: 2px;
}


/****************************************
End Account related styles
*****************************************/

/****************************************
Blips
*****************************************/
.read-more {
    background-image: url('/images/read-more.png');
    background-position: 0px 0px;
    height: 29px;
    width: 100px;
}

.read-more:hover {
    background-position: 0px 29px;
}

#blip_box {
    width: 212px;
    height: auto;
}

#blip_box h3 {

    font-variant: small-caps;
    margin: 20px 0 20px;
}





/****************************************
End Blips
*****************************************/







