#header_container
  #logo
    %img{:src => '/images/logo.png'}
  #header_controls
    #login_box
      %div{:class => "buttonize shadow right"}= link_to_sign_in
  %img{:src => '/images/line-long.png', :id => 'header_rule'}