#slideshow_categories_newest_members
  #slideshow
    %img{:src => '/images/picture.jpg'}
  #categories_newest_members
    #categories
    #newest_members
#featured_sounds_most_popular_news
  #featured_sounds
  #most_popular
  #news
#join_us_download_create
  #join_us
    %span
      JOIN US
    %img{:src => '/images/line-long.png', :class => 'h_divider'}
    %span{:class => 'explanation'}
      Lorem moolem foolem droolem fox brown cow medjoola. The best
      place for sounds of all kinds. Sign up today and join a community
      of sonic genius.
      %div{:class => "buttonize shadow"}= link_to_sign_in
  #download
    %span
      DOWNLOAD
    %img{:src => '/images/line-long.png', :class => 'h_divider'}
    %span{:class => 'explanation bluer'}
      High quality downloads. Lorem moolem foolem droolem fox brown cow medjoola. The best
      place for sounds of all kinds. Sign up today and join a community
      of sonic genius.
      %div{:class => "buttonize green-background shadow"}
        = link_to("Learn..",'/')
  #create
    %span
      CREATE
    %img{:src => '/images/line-long.png', :class => 'h_divider'}
    %span{:class => 'explanation'}
      Create awesomeness. Lorem moolem foolem droolem fox brown cow medjoola. The best
      place for sounds of all kinds. Sign up today and join a community
      of sonic genius.
      %div{:class => "buttonize shadow"}= link_to_sign_in